# ================= SERVER CONFIG =================
NODE_ENV=development
PORT=5001

# ================= DATABASE =================
MONGODB_URI=mongodb+srv://ojhaneha0028_db_user:BlzP2691GRDXj0lg@cluster0.wuossmf.mongodb.net/tt_scheduler?retryWrites=true&w=majority&appName=Cluster0

# ================= JWT =================
JWT_SECRET=7f!3K@z9Lp#Qx2Vt$eW8nR1mA6bY
JWT_EXPIRES_IN=7d
JWT_COOKIE_EXPIRES_IN=7

# ================= CORS =================
FRONTEND_URL=http://localhost:3000

# ================= RATE LIMITING =================
RATE_LIMIT_WINDOW_MS=900000  # 15 minutes
RATE_LIMIT_MAX=200

# ================= SECURITY =================
PASSWORD_RESET_TOKEN_EXPIRE=3600000  # 1 hour in ms


